
# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Docker
docker-compose.override.yml
docker-compose.override.yml

# Logs
*.log

# Secrets
*.env
*.pfx
*.key
*.pem

# OS
.DS_Store
Thumbs.db