version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: appdb
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  api:
    build: .
    container_name: dotnet_api
    restart: always
    ports:
      - "5000:5000"
    environment:
      ConnectionStrings__DefaultConnection: "Server=mysql;Database=appdb;User=root;Password=root123;"
    depends_on:
      - mysql

volumes:
  mysql_data:
